{% extends 'base.html' %}

{% block content %}

    <form method="POST" novalidate>
        {% csrf_token %}
        <h2>Добавление отметки о посещении</h2>

        {{ user.last_name }} {{ user.first_name }} {{ user.middle_name }}, чтобы отметиться, выберете пару (отображены только сегодняшние пары):
        {{ form.as_p }}

        <input type="submit" value="Отметиться" />
    </form>

<button type="button">
    <a href="{% url 'check:home' %}">Вернуться домой</a>
</button>

{% endblock content%}




