{% extends 'base.html' %}

{% block content %}
{% if user.is_authenticated %}
  Вы авторизованы как {{ user.last_name }} {{ user.first_name }} {{ user.middle_name }}.
    <p><a href="{% url 'check:logout' %}">Выйти из системы</a></p>
    {% if perms.check.add_lesson %}
        <p><a href="{% url 'check:add_lesson' %}">Добавить занятие</a></p>
        <p><a href="{% url 'check:add_mark1' %}">Отметить студента</a></p>

    {% endif %}
    {% if perms.check.add_mark %}
        <p><a href="{% url 'check:add_mark' %}">Отметиться</a></p>
    {% endif %}
    <p><a href="{% url 'check:show_marks' %}">Посмотреть все отметки</a></p>

{% else %}
  <p>You are not logged in</p>
    <a href="{% url 'check:login' %}">Войти</a>
    <a href="{% url 'check:register' %}">Зарегистрироваться</a>
{% endif %}
{% endblock %}